.box {
  display: flex;
  justify-content: center;
  height: 150px;
  width: 150px;
  margin: 5px;
  background-color: rgb(129, 235, 253);

  border-radius: 15px;
  align-items: center;
}

button:hover {
  scale: 1.7em;
}
